@tailwind base;
@tailwind components;
@tailwind utilities;

.box-shadow{
    box-shadow: 0px 6px 15px 0px #00000026;
}
 input::placeholder{
    margin-left: 10px;
 }
 .Border{
    border-bottom: 1px solid #DFEAF0;
 }
 .box-shadow2{
    box-shadow: 6px 6px 54px 0px #0000000D;
 }

 .box-shadow3{
    box-shadow: -4px 4px 28.2px 0px #00000033;

 }
 .Border2{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
 }
 
 ::-webkit-scrollbar {
   width: 0px;
 }
 
 .height {
   height: -webkit-fill-available;
 }
 .Hidden {
   display: none;
 }

 /* The container <div> - needed to position the dropdown content */
 .dropdown {
   position: relative;
   display: inline-block;
 }
 
 /* Dropdown Content (Hidden by Default) */
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: white;
   width: 100%;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
   top: 55px;
   border-radius: 30px;
   left: 2px;
  border:1px solid #B2B2B2;
}

 
 /* Links inside the dropdown */
 .dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
 }
 /* Change color of dropdown links on hover */
.dropdown-content a:hover {
   background-color: #B6E3FF;
   border-top-left-radius: 30px;
   border-top-right-radius: 30px;
   width:100%;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.Border2{
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.pagination {
  display: flex;
  align-items: center;
}

.page-link {
  width:40px;
  background-color: #E1E1E1;
  border: none;
  color: black;
  padding: 10px;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

.page-link:hover {
  background-color: #D1D1D1;
}

.page-number.active {
  background-color: #00AEEF;
  color: white;
}
.sidebar {
  transition: transform 0.3s ease-in-out;
}

.sidebar-open {
  transform: translateX(0); /* Move into view */
}

.shifted {
  margin-left: 16rem; /* Adjust based on your sidebar width */
}

.hidden {
  display: none;
}